rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read and create (upload) to anyone
      allow read, create: if true;
      // Explicitly deny update (overwrite) and delete
      allow update, delete: if false;
    }
  }
}
